---
import Icon from './Icon.astro';
---

<section class="box soft-skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="full-stack" color="var(--accent-regular)" size="2.5rem" width="240" height="240" />
		<h2>Full Stack</h2>
		<p>Front-end, back-end, and some experience with system design</p>
	</div>
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" width="226" height="226" />
        <h2>Team Player</h2>
        <p>Collaborative, communicative, and adaptable in team settings</p>
    </div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="problem-solver" color="var(--accent-regular)" size="2.5rem" width="124" height="124" />
		<h2>Problem Solver</h2>
		<p>Identifying problems, simplifying them, and applying creative solutions</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.soft-skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.soft-skills h2 {
		font-size: var(--text-lg);
	}

	.soft-skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.soft-skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.soft-skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
